@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.jumbo-home{
    background-color: #fff;
    text-align: center;
    color: #0D9EA4;
    margin: 0;
    margin: 0;
}

.medonor-heading{
    font-family: 'Julius Sans One', sans-serif;
}

.main-title-home{
    font-family: 'Julius Sans One', sans-serif;
}

.logo-home{
    height: 100px;
    width: 100px;
}

.content-h3-home{
    color: #0D9EA4; 
    font-size: 6.5rem;
    font-family: 'Montserrat', sans-serif;
}

.extra{
    color: #a6b4b4;
    font-size: 2.5rem;
}

.para{
    font-family: 'Montserrat', sans-serif;
}

.content .para{
    font-size: 1.7rem;
}

img {
    width: 100%;
    height: auto;
}

.home-image-5{
    height: 350px;
    width: 350px;
}

.sub-sub-para{
    color: #a6b4b4;
}
