.head h1{
    vertical-align: 'inherit'; 
    color: #227477;
    font-size: 80px;
    font-family: Philosopher;
    padding-bottom: 5px;
    padding-top: 1px;
    
}

.containerr {
    margin-left: 139px;
    margin-right: 10px;
}
hr.sep-2 {
    border: 0; 
    height: 1.7px; 
    background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
  }

.bkg-im{
 
    background-image: url("../../images/greyb32.jpg");
}



.cdd-style { 
    width: 32rem; 
    margin-right: 15px;
    height: 300px;
    margin-top:20px;
    box-shadow: 0 10px 15px #3ea1a5, 0 4px 8px #288285;
    padding-left: 2px;
    margin-bottom: 19px;
   
  
 }


 
 .medi-nme {
    font-size: 22px;
    font-weight:600;
    color: #085053;
    font-family: 'Montserrat', sans-serif;
}


.cdd-text {
    
    font-size:17px ;
}

.cdd-text i{
    font-weight:550;
}


.dd {
    position:absolute;
    bottom:0;
    margin-left: 255px;
    
 }
