.head h1{
    vertical-align: 'inherit'; 
    color: #227477;
    font-size: 80px;
    font-family: Philosopher;
    padding-bottom: 10px;
    padding-top: 60px;
    
}
.bb{
    margin-top: -40px;
    padding-bottom: 100%;
    background-color: #c8e3e7;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%23ffffff' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.containerr {
    margin-left: 250px;
    margin-right: 7px;
}

.bkg-im{
 
    background-image: url("../../images/greyb32.jpg");
}



.cdd-style { 
    width: 32rem; 
    margin-right: 2px;
    height: 317px;
    margin-top:27px;
    box-shadow: 0 10px 15px #3ea1a5, 0 4px 8px #288285;
    padding-left: 2px;
  
     
   
 }


 
 .medi-nme {
    font-size: 25px;
    font-weight:600;
    color: #085053;
    font-family: 'Montserrat', sans-serif;
}


.cdd-text {
    
    font-size:18px ;
}

.cdd-text i{
    font-weight:550;
}


.dd {
    position:absolute;
    bottom:0;
    margin-left: 255px;
    
 }
