


.Login {
  display: inline-block;
  margin:4% 5% 6% 50%;
 
  min-width:480px;
  padding: 48px 40px 36px;
  height: auto;
  min-height: 500px;

  border: 1px solid #dadce0;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgb(0 0 0 / 10%);
}

.butto{
  margin:6px 2px;
  background-color: #175e59;
}

.butto:hover{
  background-color: #217a74;
  color: #b1c5c4;
}

.LoginDiv{
  box-shadow: 0 0 2px #495867;
  padding: 5%;
  width: 90%;
  background-color: #F7F7FF;
  opacity: 0.90;
  color: #175e59;
  margin-top: 5%; 
  
  background-image: url('../../images/Caraousel/loginbg2.jpg');
}

.Otheroption{
  box-shadow: 0 0 2px #495867;
  padding: 5%;
  width: 90%;
  margin-top: 3%;
  background-color: #F7F7FF;
  color: #175e59;
  opacity: 0.90;
  
  background-image: url('../../images/Caraousel/loginbg2.jpg');
}

.LoginCorousel{
  height: 436px;
  background-size:cover;
  overflow:hidden;
  box-shadow: 0 0 25px white;
}

.LoginCorouselDiv{
  width: 85%;
  margin: 6% 10% 5% 10%;
}