


.Login {
  display: inline-block;
  margin:4% 5% 6% 50%;
 
  min-width:480px;
  padding: 48px 40px 36px;
  height: auto;
  min-height: 500px;

  border: 1px solid #dadce0;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgb(0 0 0 / 10%);
}

.butto{
  margin:6px 2px;
  background-color: #175e59;
 
  
}

.butto:hover{
  background-color: #217a74;
  color: #b1c5c4;
}

.LoginDiv{
  /*box-shadow: 0 0 2px #495867;*/
  padding: 5%;
  width: 80%;
  background-color: #F7F7FF;
  opacity: 0.90;
  color: #175e59;
  margin-top: 9%; 
  padding-top: 45px;
  font-size: 18px;
  margin-left: 39px;
  box-shadow: 0 0 20px 2px rgb(0 0 0 / 10%);
  filter: drop-shadow(2px 4px 6px rgb(151, 148, 148));
  font-family: 'Montserrat', sans-serif;
}

.Otheroption{
 
  color: #175e59;
  opacity: 0.90;
  
}

.bbt {
  padding-top: 41px;
  padding-left: 300px;
}

.LoginCorousel{
  height: 436px;
  background-size:cover;
  overflow:hidden;
  box-shadow: 0 0 45px white;
}

.LoginCorouselDiv{
  width: 85%;
  margin: 6% 10% 5% 10%;
}

.bbgg {
  background-color:paleturquoise;
  margin-top: -20px;
  margin-bottom: -15px;
  padding-bottom: 17px;
  padding-top: 5px;
}