@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main-navbar-hf{
    background-color: #085053;
    padding-bottom: -10px;
    
}

.nav-links-section-hf{
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand-name-hf{
    font-size: 25px;
    letter-spacing: 2px;
}

.navbar-brand-name-hf span{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav-links-hf{
    color: #fff;
   
}

.hm {
    margin-left :655px;
}

/*---------------------------------------*/
.navbar-main-links-hf {
    margin-bottom: 0px;
    margin-left: 25px;
}

.navbar-main-links-dropdown {
    margin-bottom: 0px;
    margin-left: 25px;
}

.navbar-main-links-dropdown:hover{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-nav-links-dropdown-hf {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size:20px; 
}

.navbar-nav-links-hf {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size:18px; 
}

.navbar-nav-links-hf::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.navbar-nav-links-hf:hover::after {
    width: 100%;
    /*transition: width .3s;*/
}

.nav-links-section-hf{
    float: right;
}

/*----------------------------------------------------*/

.logo-image-hf{
    height: 45px;
    width: 45px;
}

.brand-span-hf{
    margin-bottom: 20px;
}

.sign-in-btn-hf{
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #fff;
    color: #fff;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 600px){
    .nav-links-section-hf{
        margin-left: auto;
        margin-right: auto;
    }
}
